.hljs-literal {
  color: $blue;
}

.hljs-number {
  color: $blue;
}

.hljs-comment {
  color: $gray-500;
  font-style: italic;
}

.hljs-keyword {
  color: $blue;
  font-weight: bold;
}

.hljs-string {
  color: $green;
}
