#rmd_loader_wrapper
{
   display: table;
   position: fixed;
   height: 100%;
   width: 100%;
}

#rmd_loader
{
   display: table-cell;
   vertical-align: middle;
   text-align: center;
   height: 100%;
   width: 100%;
   font-family: sans-serif;
   color: #a0a0a0;
}
