dist: bionic
language: r
cache:
  packages: yes
  directories:
  - "$PANDOC"
pandoc_version: 2.7.3
cran: https://cran.rstudio.com

env:
  global:
    - _R_CHECK_TESTS_NLINES_=0

before_install:
  - pandoc --version

jobs:
  include:
    - r: 3.3
    - r: 3.4
    - r: 3.5
    - r: 3.6
    - r: release
      name: R release / Pandoc devel
      env: PATH=$HOME/bin:$PATH
      before_install:
        - ./tools/install-pandoc.sh
    - r: release
      name: R release / RStudio Pandoc
      env: NETLIFY_SITE_ID=5d77c13c-e2ee-4a31-87ca-2fe657196160
      before_cache:
        - Rscript -e 'xfun::pkg_load2("pkgdown")'
      after_success:
        - "[[ ${TRAVIS_BRANCH}  = master  ]] || exit 0"
        - "[[ -z ${NETLIFY_AUTH_TOKEN} ]] && exit 0"
        - nvm install stable
        - npm install netlify-cli -g
        - Rscript -e 'pkgdown::build_site(".", document = FALSE, preview = FALSE)' && netlify deploy --prod --dir docs
    - r: devel
      env: _R_CHECK_CRAN_INCOMING_=true

