export(beamerOptions)
export(docxOptions)
export(htmlOptions)
export(knitRequired)
export(knitrRender)
export(knitrRenderDOCX)
export(knitrRenderHTML)
export(knitrRenderPDF)
export(mathjaxURL)
export(pdfOptions)
export(rmd2beamer)
export(rmd2docx)
export(rmd2html)
export(rmd2pandoc)
export(rmd2pdf)
