
.screenshot {
  border: 1px solid #ccc;
}

.notebook-screenshot {
  border: 1px solid #ccc;
  margin-bottom: 8px;
}

table.table td a:only-child:link,
table.table td a:only-child:visited {
  text-decoration: none;
}
table.table td a:only-child:hover,
table.table td a:only-child:active {
  text-decoration: underline;
}
