.pagedtable {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: auto;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 20px;
}

.pagedtable table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 5px
}

.pagedtable th {
  padding: 0px 5px 0px 5px;
  border: none;
  border-bottom: 2px solid #dddddd;
  text-align: right;
}

.pagedtable td {
  text-align: right;
}

.pagedtable a {
  cursor: pointer;
  text-align: right;
  margin-left: 15px;
}
