.pagedtable {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: auto;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 20px;
}

.pagedtable table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 5px
}

.pagedtable th {
  padding: 0px 5px 0px 5px;
  border: none;
  border-bottom: 2px solid #dddddd;
  text-align: right;
}

.pagedtable td {
  text-align: right;
}

.pagedtable a {
  cursor: pointer;
  padding: 0 5px 9px 5px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pagedtable .disabled {
  cursor: default;
  text-decoration: none;
  color: #999;
}

.pagedtable .prev {
  float: left;
}

.pagedtable .next {
  float: right;
}
