.perf_popup
{
   border: 1px solid black;
   position: fixed;
   top: 20px;
   right: 20px;
   background-color: white;
   padding: 5px;
   font-size: small;
   font-family: sans-serif;
   color: black;
}
