h1:hover a.anchor::before,
h2:hover a.anchor::before,
h3:hover a.anchor::before,
h4:hover a.anchor::before,
h5:hover a.anchor::before,
h6:hover a.anchor::before {
  visibility: visible;
}

a.anchor::before {
  margin-left: 10px;
  display: inline-block;
  visibility: hidden;
  content: "#";
}
